#field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 85%;
    min-height: 35px;

    margin: 5px 0;

    background-color: var(--primaryLight);
    border: 1px solid var(--accentLowHighlight);
    border-radius: 10px;

    box-shadow: none;

    transition: box-shadow 400ms;

    &:hover, &:focus-within {
        box-shadow: 0 0 1px var(--accentHighRipple), inset 0 0 1px var(--accentHighRipple);
    }
    &.invalid {
        box-shadow: 0 0 1px var(--error), inset 0 0 1px var(--error);
    }
    &.valid {
        box-shadow: 0 0 1px var(--success), inset 0 0 1px var(--success);
    }

    input {
        height: 100%;
        width: calc(100% - 15px);

        margin-left: 10px;
        background-color: transparent;
        color: var(--text);
        border: 0;
        font-family: var(--secondaryFont);

        &::selection {
            background-color: var(--accentHighlight);
        }

        &.pass {
            width: calc(100% - 45px);
        }
    }

    button {
        z-index: 1;

        width: 25px;
        height: 25px;

        margin: 0 5px 0 0;

        border: 0;
        border-radius: 50%;
        background-color: var(--primary);
        color: var(--text);
        padding: 0;
        cursor: pointer;

        &:focus {
            box-shadow: none;
        }

        &:hover {
            box-shadow: 0 0 1px var(--accentHighlight), inset 0 0 1px var(--accentHighlight);
        }
    }
}
