@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Josefin+Sans&display=swap");
:root {
  --primaryFont: "Lobster", cursive;
  --secondaryFont: "Josefin Sans", sans-serif;

  --primary: #2a2b2a;
  --primaryLight: #313231;
  --primaryLightDisabled: #313231f8;
  --accent: #ff8966;
  --accentRipple: #ff8a667a;
  --accentHighRipple: #ff8a66af;
  --accentMidRipple: #ff8a6691;

  --accentHighlight: rgba(255, 138, 102, 0.2);
  --accentLowHighlight: rgba(255, 138, 102, 0.15);
  --accentLowHighlightDisabled: rgba(255, 138, 102, 0.05);
  --accentSecondary: #e5446d;
  
  --text: #918d7b;
  --textDisabled: #918d7b56;

  --error: #a60000;
  --success: #00c400be;
}

#App {
  background-color: var(--primaryLight);
  min-height: 100vh;

  font-family: var(--secondaryFont);

  user-select: none;

  display: grid;
  grid-template-rows: 70px auto 60px;

  #switchContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10vh 0;
  }
}
