@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Josefin+Sans&display=swap");
:root {
  --primaryFont: "Lobster", cursive;
  --secondaryFont: "Josefin Sans", sans-serif;

  --primary: #2a2b2a;
  --primaryLight: #313231;
  --primaryDisabled: #454645;
  --accent: #ff8966;
  --accentRipple: #ff8a667a;
  --accentHighRipple: #ff8a66af;
  --accentMidRipple: #ff8a6691;

  --accentHighlight: rgba(255, 138, 102, 0.2);
  --accentLowHighlight: rgba(255, 138, 102, 0.15);
  --accentSecondary: #e5446d;
  
  --text: #918d7b;

  --error: #a60000;
  --success: #00c400be;
}

#App {
  background-color: var(--primaryLight);
  width: 100vw;
  height: 100vh;

  font-family: var(--secondaryFont);

  user-select: none;

  #switchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 70px);
  }
}
