#joinContainer {
    width: 90%;
    max-width: 300px;
    height: 80%;
    max-height: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--accent);

    h3 {
        font-family: var(--primaryFont);
        font-size: 2rem;
        color: var(--accent);;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 80%;

        p {
            font-size: .7rem;
            color: var(--error);
            margin-top: 5px;
        }

        & > button {
            margin-top: 20px;
            width: 40%;
            height: 35px;
            margin-bottom: 15px;
            background-color: var(--primaryLight);
            border: 1px solid var(--accentLowHighlight);
            border-radius: 10px;
            color: var(--accent);
            font-family: var(--secondaryFont);
            cursor: pointer;
            padding: 0;

            transition: box-shadow 300ms;
            
            &:hover {
                box-shadow: 0 0 1px var(--accentRipple), 0 0 1px var(--accentRipple);
            }
            &:disabled {
                background-color: var(--primaryDisabled);
                color: var(--textDisabled);
                box-shadow: 0 0 1px var(--accentLowHighlightDisabled), 0 0 1px var(--accentLowHighlightDisabled);
                cursor: default;
            }
        }
    }
}

@media only screen and (max-width: 250px) {
    #joinContainer {
        width: 95%;
        height: 90%;
    }
}
